# Ignore object files and binaries
*.o
*.out
*.exe

# Ignore build directories
/ESP32_Cloud_Gateway/build/
STM32_Sensor_Node/Build/
/build/
/dist/
/STM32_Bootloader/

# Ignore logs
*.log

# Ignore editor-specific files
/ESP32_Cloud_Gateway/sdkconfig
*.swp
.vscode/
.idea/
.DS_Store
.terraform/
*.tfstate
sdkconfig.old